
@{
    ViewBag.Title = "OgrenciEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-groups" method="post">
    <div>
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="OgrAd" required="" />
    </div>

    <div>
        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="OgrSoyad" required="" />
    </div>

    <div>
        <label>Öğrenci Bölüm</label>
        <input type="text" class="form-control" name="OgrBolum" required="" />
    </div>

    <div>
        <label>Öğrenci Mail</label>
        <input type="text" class="form-control" name="OgrMail" required="" />
    </div>

    <div>
        <label>Öğrenci Yaş</label>
        <input type="text" class="form-control" name="OgrYas" required="" />
    </div>

    <div style="margin-top:20px">
        <button class="btn btn-info">Öğrenci Ekle</button>
    </div>

</form>